.god {
  background: rgb(84,66,25) !important;
  background: linear-gradient(18deg, rgba(205,151,34,0.9) 0%, rgba(84,66,25,0.1) 100%) !important;
}
.great {
  background: rgb(184,184,184) !important;
  background: linear-gradient(18deg, rgba(184,184,184,0.9) 0%, rgba(185,185,185,0.1) 100%) !important;
}
.good {
  background: rgb(205,127,50) !important;
  background: linear-gradient(67deg, rgba(205,127,50,0.9) 0%, rgba(102,63,25,0.1) 100%) !important;
}
.bad {

  background: rgb(35,35,41) !important;
  background: linear-gradient(45deg, rgba(35,35,41,0.9) 0%, rgba(37,44,85,0.1) 100%) !important;
}



.godcolourblind {
  background: #D89F1B !important;
}
.greatcolourblind {
  background: #BEC1C3 !important;
}
.goodcolourblind {
  background: #6355E8 !important;
}
.badcolourblind {

  background: #212121 !important;
}

.imagebox {
  white-space: nowrap;
}


.infoIcon{
  cursor: pointer;
  position:absolute;
  right: 9px;
}

.adepticon{

  position:absolute;
  top: 40px;
  right: 6px;
  width: 30px;

}

.newIcon{
  padding: 0px;
}

.newText{
  font-family: "Lucida Console", "Courier New", monospace;
  color: #e91e63;
  font-size: 30px;
}




.newWeapon td {
  border: 1px solid white !important;

  border-top: 5px solid #e91e63 !important;
  border-left: 0px !important;
}

.oldWeapon td {
  border: 1px solid white !important;
  border-bottom: 1px solid white !important;
  border-left: 0px !important;
}

/* tr{
  border: 1px solid white !important;
} */

.bottomPadding {

  border-collapse:separate;
  border-spacing: 0px 1px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1b1777 black;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #1b1777;
  border-radius: 20px;
  border: 3px solid #1b1777;
}



.white{
  color: white;
}


.show {
  opacity: 1;
}

.smallimg {
  width: 50px;
  height: 50px;
}

.largeimg{
  width: 90px ;
  height: 90px ;
}

.perkimg {
  height:0px;
  width: 200px;
}

.tooltipText{
  white-space: pre-line;
  color: black;
}

.infopage {
  color: black;
}

#infoModal {
  color: black;
}

#authenticateButton {
  margin:0 auto;
  display:block;

}

.button-container {
  padding-top: 10px;
  padding-bottom:10px;
}


.container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.alert {display:inline-block;}

#alertBox{

  text-align: center;
}


body {
  padding-top: 65px;
  transition-duration: 1s;
  background: radial-gradient(circle, #02050e, #050d24);
  color: white;
}

p {
  color: white;
}

.AlertMessage {
  color: black;
}

.navbar {
    background:#6ab446;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

h1 {
  display:block;
  text-shadow: 2px 2px black;
  text-align: center;
  font-size: 60px;
  transition: 1s;
}

table {
  transition-duration: 1s;
  transition: 1s;
	border-collapse: collapse;
	border-spacing: 0;
  margin: 0 0 2rem 0;

  width:99%;
}



table td {
  transition-duration: 1s;
  transition: 1s;
  border-bottom-width: 0px;
  padding: 0.5em 0.5em !important;
  text-align: center;
  color: white;
}


table thead {
  border-bottom: solid 2px #ffffff;
}

table tfoot {
  border-top: solid 2px #ffffff;
}
